{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="container-fluid">
    <div class=row>
        <div class="col-8">
            <div class="card mb-3">
                <img class='week-img' src='{% static "img/streetcars.jpg" %}' alt="photo of the week">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional content.
                        This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Show mw what you got</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}