{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="container-fluid">
    <div class="row py-3">
        <div class="col-12">
            <h2>Windaid Institute</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-2">
            <p>Website: </p>
            <p>Founded in: </p>
            <p>Time volunteered: </p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <h2>Background</h2>
            <p>Lorem ipsum blah blah </p>
        </div>

    </div>
    <div class="row py-3">
        <div class="col-12">
            <h2>Motivation</h2>
            <p>Lorem ipsum blah blah </p>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <h2>Contributions</h2>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-12">
            <h2>Support</h2>
            <p>If you'd like to support this organisation, consider signing up as volunteer for the experience, reach
                out to me at rishi@windaid.org to find other opportunities remotely or if you simply want to donate,
                click here.</p>
        </div>
    </div>

</div>
{% endblock %}