.week-img {
    width: 100%;
    object-fit: cover;
}

.icon {
    width: 100%;
}

.project-icon {
    width: 9%;
    padding-right: 5px;
    padding-left: 5px;
}

.card-body {
    background-color: #FFF;
}

.card-header {
    background-color: #fddb3a;
    font-size: 16px;

}

