{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/base_styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}" />


<!-- <div class="container">
    <div class="row"> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top"
            alt="">
        Open Sourcery
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">CV</a> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Volunteering</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Hobbies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Competitions</a>
                    <a class="dropdown-item" href="#">Gaming</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Cooking</a>
                    <a class="dropdown-item" href="#">Photography</a>
                    <a class="dropdown-item" href="#">Reading</a>
                    <a class="dropdown-item" href="#">Cycling</a>
                    <a class="dropdown-item" href="#">Geocaching</a>
                    <a class="dropdown-item" href="#">Muay Thai</a>
                    <a class="dropdown-item" href="#">Latin Dancing</a>
                </div>
            </li>
            <button class="btn btn-outline-success" type="button">Sponsor</button>
        </ul>
    </div>
</nav>
<!-- </div>
</div> -->
<div class="page-container">
    <div class="row">

        <div class="col-3">
            <div class="sidebar-container">
                <div class="sidebar-contents">
                    <h2> SIDEBAR STUFF </h2>
                    <img src="https://www.tutorialspoint.com/videotutorials/images/numerical_ability_home.jpg"
                        class="rounded-circle">
                    <h3>Rishi Khan</h3>
                    <h4>rishfilet</h4>
                    <p>I build things in python (mostly). I like experimenting with software infrastructure and
                        architechture. I
                        support and contribute to open source. I volunteer my skills to subjectively worthy causes. My
                        opinions
                        are my own. I enjoy learning a lot, improving my skills and sharing that knowledge with others.
                    </p>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-github"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-rss"></a>
                    <a href="#" class="fa fa-steam-square"></a>
                    <a href="#" class="fa fa-paper-plane-o">Open.sourcery@protonmail.com</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="page-content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>