{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/eos-icons/dist/css/eos-icons.css' />
<link rel="stylesheet" type="text/css" href="{% static 'css/base_styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/home_page.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}" />



<!-- <div class="container">
    <div class="row"> -->
<nav class="navbar navbar-expand-lg navbar-light navbar-bar fixed-top">
    <a class="navbar-brand" href="{% url 'home_page' %}">
        <img src="{% static 'img/os2.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        <span class="logo-text">OPEN SOURCERY</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto nav-contents">
            <!-- TODO: Add the urls to an array and have them programmatically populated based on if they have a view and pattern, probably can use pages.urls -->
            {% url 'cv_page' as url %}
            <li class="nav-item nav-text">
                <a class="nav-link" href="{{ url }}">CV</a>
            </li>
            {% url 'blog' as url %}
            <li class="nav-item nav-text">
                <a class="nav-link" href="#">Blog</a>
            </li>
            {% url 'project_index' as url %}
            <li class="nav-item nav-text {% if request.path == url %}active{% endif %}">
                <a class="nav-link nav-text" href="{{ url }}">Projects</a>
            </li>
            {% url 'volunteer_page' as url %}
            <li class="nav-item nav-text">
                <a class="nav-link" href="{{ url }}">Volunteering</a>
            </li>
            <li class="nav-item dropdown nav-text">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Hobbies
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Competitions</a>
                    <a class="dropdown-item" href="#">Gaming</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Cooking</a>
                    <a class="dropdown-item" href="#">Photography</a>
                    <a class="dropdown-item" href="#">Reading</a>
                    <a class="dropdown-item" href="#">Cycling</a>
                    <a class="dropdown-item" href="#">Geocaching</a>
                    <a class="dropdown-item" href="#">Muay Thai</a>
                    <a class="dropdown-item" href="#">Latin Dancing</a>
                </div>
            </li>
            <button class="btn sponsor-button shadow rounded" type="button"><i class="fa fa-coffee"></i></button>
        </ul>
    </div>
</nav>
<!-- </div>
</div> -->
<div class="page-container">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-3"></div>
                <div class="col-5">
                    <div class="sidebar-container">
                        <div class="sidebar-contents">
                            <div class="row profile-pic-row">
                                <div class="col-9">
                                    <img src='{% static "img/Rishi_profile.jpg" %}' class="rounded-circle profile-pic">
                                </div>
                            </div>
                            <h3 style="text-align: center">Rishi Khan</h3>
                            <p class="small-text"> <span class="highlighted-text">Engineer</span> Software, Devops, AWS,
                                Automation, IOT, Cybersecurity, Web
                            </p>
                            <p class="small-text"><span class="highlighted-text">Mentor</span> Toronto Tech Mentoring,
                                Sustainable Engineers Association</p>
                            <p class="small-text"><span class="highlighted-text">Space Nerd</span> International Space
                                University, OuterAI</p>
                            <p class="small-text"><span class="highlighted-text">Volunteer</span> Windaid Insitute,
                                CivicTechTO</p>
                            <p class="small-text"><span class="highlighted-text">Gamer</span> Company of Heroes 2, FTL
                            </p>
                            <p class="small-text"><span class="highlighted-text">Cyclist</span> Kona Rove 2018</p>

                            <!-- <p>I build things in python (mostly). I like experimenting with software infrastructure and
                                architechture. I
                                support and contribute to open source. I volunteer my skills to subjectively worthy
                                causes.
                                My
                                opinions
                                are my own. I enjoy learning a lot, improving my skills and sharing that knowledge with
                                others.
                            </p> -->
                            <div class="row fa-row">
                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-github"></a>
                                </div>

                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-rss"></a>
                                </div>
                            </div>
                            <div class="row fa-row">
                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-instagram"></a>
                                </div>
                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-steam"></a>
                                </div>

                                <div class="col-4 fa-col">
                                    <a href="#" class="fa fa-at"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="page-content">
                {% block page_content %}{% endblock %}
            </div>
        </div>
        <div class="col-1">
            <div class="page-content">
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-1">
            <img class='handpoint-footer' src='{% static "img/handpoint.png" %}' alt="hire me">
        </div>
        <div class="col-1">
            <button class="hire-me-button btn shadow rounded">Hire me for contract / consulting work</button>
        </div>
        <div class="col-8">
            <p><span>Copyright 2021 Rishi Khan. Made with Django & Bootstrap 4</span></p>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>