

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

h1{
  font-family: 'Montserrat';
  font-size: 32px;
}

h2 {
  font-family: 'Lato';
  font-size: 24px;
}

h3 {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: 700;
}

p {
    font-family: 'Raleway';
}

.logo-text {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2;
}
.navbar-bar{
  background-color: #FFF;
}

.nav-contents {
  line-height: 50px;
}

.nav-text {
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 200;
  text-transform: uppercase;
  color: #f6f5f5;
  letter-spacing: 1;
  padding-left:15px;
  padding-right: 15px;
}

.sponsor-button {
  border-radius: 15px;
  background-color: gold;
  color: black;
  font-family: 'Lato';
  font-size: 15px;
  font-weight: 200;
  text-decoration: italic;
  letter-spacing: 0.5;
  border: 0px solid black;
}

.small-text {
  font-size:10px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
}

.page-container {
  margin-left: 20px;
  margin-right: 20px;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    position: relative;
    width: auto;
    height: auto;

}

.page-content{
  padding-top: 20px;
  width: 100%;
}

.sidebar-container {
  position:fixed;
  height: auto;
  width: 20%;
}

.sidebar-contents {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 50%; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #FFF; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;

}

.highlighted-text {
  background:gold;
  color: black;
  font-weight: 800;
  font-size: 12px;
  padding: 5px;
  font-style: normal;
}

.profile-pic-row{
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.profile-pic{
  width:100%;
  justify-content: center;
}

.fa-col {
  display:flex;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;

}

.fa-row {
  padding-top: 5px;
  margin-right: 0px;
  margin-left: 0px;
}
/* Style all font awesome icons */
.fa {
  padding: 10px;
  font-size: 30px;
  /* width: 65%;
  height: 65%; */
  text-align: center;
  text-decoration: none;
   /* border-radius: 50%; */
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-linkedin {
  /* background: #2867B2; */
  color: black;
}

/* Twitter */
.fa-github {
  /* background: #000; */
  color: black;
}

.fa-instagram {
  /* background: #833AB4; */
  color: black;
}

.fa-rss {
  /* background: #f26522; */
  color: black;
}

.fa-steam {
  /* background: #1b2838 ; */
  color: black;
}

.fa-paper-plane-o {
  /* background: #BB001B; */
  color: black;
}

.fa-coffee {
  /* background: #BB001B; */
  color: black;
  font-size: 20px;
}

.handpoint-footer {
  position: fixed;
  width: 100px;
  bottom: 0;
  left: 0;

}

.hire-me-button {
border-radius: 15px;
  background-color: gold;
  color: black;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 200;
  text-decoration: italic;
  letter-spacing: 0.5;
  border: 0px solid black;
  position: fixed;
  bottom: 40px;
  left: 100px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FFF;
  color: black;
  text-align: center;
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
  height: 30px;
}